<div class="navbar bg-base-100">
	<div class="flex-1">
		<a href="{{ path('app_home')}}" class="btn btn-ghost normal-case text-xl">TotoBlog</a>
	</div>
	<div class="flex-none">
		<ul class="menu menu-horizontal px-1">
			<li>
				{% if app.user %}
					<a href="{{ path('app_create')}}">Créer un article</a>
				{% endif %}
			</li>
			<li>
				<a href="{{ app.user ? path('app_logout') : path('app_login') }}">
					{{ app.user ? 'Déconnexion' : 'Connexion' }}
				</a>
			</li>
			<li>
				{% if app.user %}
					<button class="btn btn-info">{{app.user.email}}</a>
				{% endif %}
			</li>
		</ul>
	</div>
</div>

